[Unit]
Description=GOK Control Server
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
User={{DEPLOY_USER}}
Group={{DEPLOY_GROUP}}
WorkingDirectory=/var/lib/gok-cs
ExecStart=/usr/local/bin/gok-cs --config=/etc/gok-cs/config.yml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
