server {
    server_name bat.wattbrews.es;

    listen [::]:443 ssl http2; # managed by Certbot
    listen 443 ssl http2;      # managed by Certbot

    ssl_certificate /etc/letsencrypt/live/bat.wattbrews.es/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/bat.wattbrews.es/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    add_header Strict-Transport-Security "max-age=31536000" always; # managed by Certbot

    access_log /var/log/nginx/bat.wattbrews.es.access.log;
    error_log  /var/log/nginx/bat.wattbrews.es.error.log;

    root /var/www/html/gok/current/app;
    index index.html;

    # SPA
    location / {
        try_files $uri $uri/ /index.html;
    }

    # API (обычные HTTP-запросы)
    location /api/ {
        proxy_pass http://127.0.0.1:8080;  # префикс /api остаётся
        proxy_set_header Host              $host;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        client_max_body_size 10m;
    }

    # WebSocket: UI live updates
    location /api/ui {
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade           $http_upgrade;
        proxy_set_header Connection        "upgrade";
        proxy_set_header Host              $host;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
    }

    # WebSocket Agent
    location /api/agent {
        proxy_pass http://127.0.0.1:8080;  # путь передаётся как есть: /api/ws
        proxy_http_version 1.1;
        proxy_set_header Upgrade           $http_upgrade;
        proxy_set_header Connection        "upgrade";
        proxy_set_header Host              $host;
        proxy_set_header X-Real-IP         $remote_addr;
        proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
    }

    # ACME
    location /.well-known/acme-challenge/ {
        allow all;
    }
}

server {
    if ($host = bat.wattbrews.es) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    listen [::]:80;
    server_name bat.wattbrews.es;

    location /.well-known/acme-challenge/ {
        allow all;
    }

    return 301 https://$host$request_uri;
}